* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.embla {
  overflow: hidden;
}

ul.embla__container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
}

.embla__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.embla__dots {
  text-align: center;
}
.embla__dots .embla__dot {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;
}
.embla__dots .embla__dot.embla__dot--selected {
  background-color: rgba(0, 0, 0, 0.2);
}
.embla__dots .embla__dot:only-child {
  display: none;
}

.embla__buttons {
  position: unset;
}
.embla__buttons button {
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.embla__buttons button.embla__prev {
  left: 24px;
}
.embla__buttons button.embla__next {
  right: 24px;
}
.embla__buttons button:disabled {
  pointer-events: none;
  opacity: 0.2;
}

.letter-canvas {
  background-color: #212121;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.letter-canvas .paper-box {
  height: 650px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.letter-canvas .paper-box img.paper {
  width: 660px;
  height: 100%;
}
.letter-canvas .paper-box .letter-content {
  height: 550px;
  width: 490px;
  z-index: 1;
  position: absolute;
  word-wrap: break-all;
  font-family: "Sriracha", cursive;
}
.letter-canvas .paper-box .letter-content p {
  font-size: 1.125rem;
  line-height: 32px;
}
.letter-canvas .paper-box .letter-content p.by {
  position: absolute;
  bottom: -25px;
  font-size: 1.25rem;
}
.letter-canvas .paper-box .letter-content.intro {
  text-align: center;
}
.letter-canvas .paper-box .letter-content.intro h1 {
  text-transform: uppercase;
  font-size: 3.125rem;
  margin-bottom: 24px;
  line-height: 1.4;
}
.letter-canvas .paper-box .letter-content.intro p.to {
  font-size: 1.25rem;
}
.letter-canvas .paper-box .letter-content.intro p.to {
  font-weight: bold;
}
.letter-canvas .paper-box .letter-content.first .flower {
  display: block;
  margin: auto;
}
.letter-canvas .paper-box .letter-content.second img, .letter-canvas .paper-box .letter-content.third img, .letter-canvas .paper-box .letter-content.fourth img, .letter-canvas .paper-box .letter-content.fifth img {
  display: block;
  margin: auto;
}
.letter-canvas .paper-box .letter-content.fifth p.special {
  color: red;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 40px;
}
.letter-canvas #slideCounter {
  position: absolute;
  bottom: 32px;
  right: 32px;
  color: #fff;
  font-family: "Sriracha", cursive;
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  .embla__buttons {
    position: unset;
  }
  .embla__buttons button {
    top: 3%;
    -webkit-transform: unset;
            transform: unset;
  }

  .letter-canvas .paper-box {
    width: 100%;
  }
  .letter-canvas .paper-box img.paper {
    width: 100%;
  }
  .letter-canvas .paper-box .letter-content {
    width: 70%;
  }
  .letter-canvas .paper-box .letter-content p {
    font-size: 1rem;
    line-height: 25px;
  }
  .letter-canvas .paper-box .letter-content img {
    max-width: 100%;
  }
  .letter-canvas .paper-box .letter-content.intro h1 {
    font-size: 30px;
  }
  .letter-canvas .paper-box .letter-content.fifth p.special {
    font-size: 30px;
    line-height: 1.2;
  }
  .letter-canvas #slideCounter {
    bottom: 0;
  }
}